<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	
	<style>
a,p ,h1,strong {
    text-align: center;
    color: red;
}
</style>
</head>
<body>
    <p><h1>Welcofhgtghme to your app</h1>  </p>
	<a href="/user" > <h2>Bacem Mehri</h2></a>
 
</body>
</html>

