<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	
	<style>
a,p ,h1,strong {
    text-align: center;
    color: blue;
}
</style>
</head>
<body>
    <p><h1>Second</h1>  </p>
	
</body>
</html>

